{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Usuario</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    </head>
    <body>
    	{% include 'menu.html' %}
        {% block content %}
        {% endblock %}
    </body>
</html>