{% extends "registration/layout.html" %}
{% load static %}
{% block content %}

{% if form.errors %}
<p>El usuario y la clave no coinciden, por favor intente nuevamente.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Tu cuenta no tiene acceso a esta página. Para proceder,
        por favor inicie sesión con una cuenta que tenga acceso.</p>
    {% else %}
    <p>Inicie sesión para ver esta página.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row"> <img src="{% static 'img/logo2.5.png' %}" class="rounded mx-auto d-block logo" width="90" height="90" alt="Logo Mr Bots"> Mr Bots</div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="https://i.imgur.com/uNGdWHi.png" class="image"> </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row mb-4 px-3">
                        <h6 class="mb-0 mr-4 mt-2">Sign in with</h6>
                        <div class="facebook text-center mr-3">
                            <div class="fa fa-facebook"></div>
                        </div>
                        <div class="twitter text-center mr-3">
                            <div class="fa fa-twitter"></div>
                        </div>
                        <div class="linkedin text-center mr-3">
                            <div class="fa fa-linkedin"></div>
                        </div>
                    </div>
                    <div class="row px-3 mb-4">
                        <div class="line"></div> <small class="or text-center">Or</small>
                        <div class="line"></div>
                    </div>
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Usuario</h6>
                        </label><td class="mb-4">{{ form.username }}</td></div>

<div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">{{ form.password.label_tag }}</h6></label>
                            <td class="mb-4">{{ form.password}}</td></div>
</form>
                 <div class="row px-3 mb-4">
  
                        {# Asume que configuras la vista password_reset en tu URLconf #}
                        <div class="custom-control custom-checkbox custom-control-inline"> <label for="chk1" class="custom-control-label text-sm"><input id="chk1" type="checkbox" name="chk" class="custom-control-input"> Recuerdame</label> </div> <a href="{% url 'password_reset' %}" class="ml-auto mb-0 text-sm">¿Has olvidado tu contraseña?</a>
                    </div>
                    <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Acceder</button><input type="hidden" name="next" value="{{ next }}" /> </div>
                    <div class="row mb-4 px-3"> <small class="font-weight-bold">¿No tienes una cuenta? <a class="text-danger " href="{% url 'usuarios:registrarse' %}">Register</a></small> </div>
                </div>
            </div>
        </div>
        <div class="bg-blue py-4">
            <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Todos los Derechos Reservados &copy; 2021  - Villordo Cristian</small>
                <div class="social-contact ml-4 ml-sm-auto"> <span class="fa fa-facebook mr-4 text-sm"></span> <span class="fa fa-google-plus mr-4 text-sm"></span> <span class="fa fa-linkedin mr-4 text-sm"></span> <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}