{% extends "registration/layout.html" %}
{% load static %}
{% block content %}
<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">              
                <div class="card2 card border-0 px-4 py-5">
                <div class="row mb-4 px-3">
                    <h2>Formulario de Registro</h2>
                    <form method="post">
                      {% csrf_token %}
                      <div class="row px-3">
                      {% for campo in form %}                        
                        <label class="mb-1"><h6 class="mb-0 text-sm">{{ campo.label_tag }}<br></h6></label>
                          <td class="mb-4">{{ campo }}</td>
                            {% if campo.help_text %}
                            <small style="color: grey">{{ campo.help_text }}</small>
                            {% endif %}
                          {% for error in campo.errors %}
                            <p style="color: red">{{ error }}</p>
                          {% endfor %}
                      {% endfor %}
                       <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Confirmar Registro</button><input type="hidden" name="next" value="{{ next }}" /> </div>
                      </div>
                    </form>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card1 pb-5">
                <div class="row"> <img src="{% static 'img/logo2.5.png' %}" class="rounded mx-auto d-block logo rounded-circle" width="90" height="90" alt="Logo Mr Bots">
                </div>
                <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="https://i.imgur.com/uNGdWHi.png" class="image"> </div>
                </div>
            </div>
  
{% endblock %}