{% extends 'base.html' %}
{% load static %}
{% load cloudinary%}

{% block contenido %}

<h2>Enviar Correo</h2>
<form action="#" method="POST">
	{% csrf_token %}

	 <!---<div class="form-floating">
      <input type="hidden" name="mail"class = 'form-control pub_titulo' id="floatingInputGrid", placeholder ="Mrbots.allsoftware@gmail.com" value="Mrbots.allsoftware@gmail.com"><br>
    </div>--->	
	<input type="text" name="mail" placeholder="demo@example.com"><br>
	<input type="textarea" name="contenido" placeholder="contenido">
	<input type="submit" style="font-size: 26px" value="Enviar">
</form>

{% endblock%}