{% extends 'base.html' %}
{% load static %}
{% load cloudinary%}
{% block contenido %}
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
	<div class="card border-info mb-3">
		<form method="POST" enctype="multipart/form-data" action="{% url 'productos:crear_producto' %}">
			<div class="text-center">
			<h1>Nuevo Producto</h1>
			</div>
			<a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/logo2.5.png' %}" class="rounded mx-auto d-block" width="90" height="90" alt="Logo Mr Bots"></a>
				{% csrf_token %}

			  <div class="col-md">
			    <div class="form-floating">
			      {{ form.titulo }}{{ form.titulo.errors }}
			      <label for="floatingInputGrid">Titulo del producto</label>
			    </div>
			    <hr>
			  </div>
			  <div class="col-md">				  
			    <div class="form-floating">
			      {{ form.categoria }} {{ form.categoria.errors }}
			      <label for="floatingSelectGrid">selecciona la categoria</label>      
			    </div>
			  </div>
			  <hr>
			  <div class="col-md">
			    <div class="form-floating">
		        {{ form.contenido }}{{ form.contenido.errors }}
		      <label for="floatingInputGrid">Contenido</label>
			    </div>
			    <hr>
			  </div>
		      <div class="form-group row">
		        <label for="imagen_input">Adjuntar Imagen:</label> {{ form.imagen }} {{ form.imagen.errors }}
		      </div>
		      <hr>
		      <div class="row g-2">
				<div class="col-md">
				  <div class="form-floating">
				  <span class="input-group-text">precio   $</span>
				  	{{form.precio}} {{form.precio.errors}}
				  <span class="input-group-text">.00</span>
				  </div>
				</div>
				<div class="col-md">
    			 <div class="form-floating">
				  <span class="input-group-text">precio oferta  $</span>
				  	{{form.precio_oferta}} {{form.precio_oferta.errors}}
				  <span class="input-group-text">.00</span>
				</div>
			  </div>
			</div>
			<hr>
			<button class="btn btn-primary" type="submit">Crear</button>
		</form>
	</div>
</div>
  </div>
</div>

{% endblock%}