{% load static %}
  {% load cloudinary%}
{% for productos in lista_productos %}
 <div class="col md-2">
    <div class="card h-100" style="width: 18rem;">
        <img src="{{ productos.imagen.url }}"  class="card-img-top rounded-circle" alt="foto del Producto" width="250" height="250" >
        <div class="card-body">
          <h5 class="card-title">{{productos.titulo}}</h5>
          <p class="card-text">{{productos.contenido | truncatechars:30 }}</p>
          <p class="card-text"><del>${{productos.precio}}</del></p>
          <p class="card-text">${{ productos.precio_oferta }}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{productos.fecha_creacion}}</small>
        </div>
        <a href="{% url 'productos:ver_productos' productos.id %}" class="btn btn-primary">Ver Producto</a>
    </div>
  </div>
  
  {% endfor %}