{% extends 'base.html' %}
{% load static %}
{% load cloudinary%}
{% block contenido %}
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
	<div class="card border-info mb-3">
<form method="POST">
	<div class="text-center">
	<h1>Editar Producto</h1>
	</div>
	<img src="#" class="rounded mx-auto d-block" width="160" height="160" alt="...">
		{% csrf_token %}
			{{ form }}
	<button class="btn btn-primary" type="submit">Confirmar</button>
</form>
	</div>
</div>
  </div>
</div>
{% endblock%}