{% load static %}
{% load cloudinary%}
  {% for productos in lista_productos %}

<div class="list-group">
  <a href="{% url 'productos:ver_productos' productos.id %}" class="list-group-item list-group-item-action active" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <img src="{{ productos.imagen.url }}"  class="rounded-circle" alt="foto del Producto" width="50" height="50" >
      <small>{{productos.fecha_creacion}}</small>
    </div>
    <p class="mb-1">{{productos.titulo | truncatechars:15 }}</p>
    <small>{{productos.contenido | truncatechars:40 }}</small>
  </a>
</div>
  <hr>
	 {% empty %}
          <div class="col">
            <div class="card h-100">
              No hay Productos en ésta Categoria.
            </div>
          </div>
  {% endfor %}