<form method="GET" style="padding-top: 20px;" action="{% url 'productos:search' %}" class="d-flex">
        {{ search_form.titulo }}
        <button class="btn btn-outline-succes" type="submit">Buscar</button>       
 </form>
