{% extends 'base.html'%}
{% load static %}
{% load cloudinary%}
{% block contenido %}
<div class="alert alert-info" role="alert">{{ producto.categoria }}</div>
  <div class="container">
  <br>
  <div class="row">
  	<div class="col-sm-8">
  	  <div class="card text-center">
	  	  <div class="card-header">
          <div class="col-sm" >
            <img src="{{ producto.imagen.url }}" class="rounded" width="250" height="250"  alt="Imagen del producto">
          </div>
	  		  
	        {{ producto.titulo }}
	  	  </div>
			    <div class="card-body">   
					<p class="card-text">{{producto.contenido}}</p>
				</div>
        <p class="card-text"><del>${{producto.precio}}</del></p>
            <p class="card-text">${{ producto.precio_oferta }}</p>
			  <div class="card-footer text-muted">
			    {{producto.fecha_creacion}}}         
         
			  </div>
        {% if request.user == producto.usuario %}
          <a href="{% url 'productos:editar_producto' producto.id %}" class="btn btn-primary">Editar Producto</a>

          <a href="{% url 'productos:borrarProducto' producto.id %}" class="btn btn-primary">Borrar Producto</a>
        {% endif %}
        </div>        
    </div>
    {% if request.user.is_authenticated %}
     <div class="col-sm-4">
       <form method="POST" action="{% url 'productos:agregarCarrito' producto.id %}" enctype="multipart/form-data">
         {% csrf_token %}         
          <h5 class="card-title">agregar al carrito?:</h5>
          <div class="row">
            <div class="col-sm"><button type="button" class="btn btn-info" id="remove">-</button></div>
              <div class="col-sm-8">{{ form_carrito.cantidad }} </div>
                <div class="col-sm"><button type="button" class="btn btn-info" id="add">+</button></div>     
                 <button type="submit" class="btn btn-primary mb-2">agreagar al carrito<span class="fas fa-shopping-cart"></span></button>
          </div>
        </form>
    </div>
    {% else %}
    <div class="col-sm-4">pubicidad
      <div class="col-sm">
            <img src="{% static 'img/pub.gif' %}" class="img-thumbnail"  alt="publicidad" width="400" height="300">
        </div>
    </div>
    {% endif %}
  </div>
</div>


<hr>
<h1>Productos autor</h1>
<hr><hr>
<div class="row  row-cols-sd-4">
  {% include 'productos/cuadriculaproductos.html' with lista_productos=page_obj %}
</div>
  <!---paginate--->
    <nav aria-label="Page navigation example">
    {% if page_obj.has_next or page_obj.has_previous %}
      <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/></svg>Anterior</a>
      </li>
    {% endif %}
    {% for page in page_obj.paginator.page_range %}
        <li class=" page-item {% if page_obj.number == page %}active{% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
    {% endfor %}
    {% if page_obj.has_next %}
        <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Siguiente<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
          <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/></svg></a>
        </li>
    {% endif %}
    </ul>
    {% endif %}
  </nav>
</div>

{% endblock %}