{% extends 'base.html' %}

{% load mathfilters%}
{% load static %}
{% load cloudinary%}

{% block contenido %}
 <h3>Carrito de Compras</h3>
 <h4>{{usuario}}</h4>
{% for carrito in carritos %}
  {% if request.user == carrito.usuario %}
  <div class="row">
    <div class="col-md-6">
      <ol class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-4 me-auto">
            <div class="fw-bold">Precio unidad: ${{carrito.producto.precio_oferta}}</div>
            total: $ {{ carrito.cantidad|mul:carrito.producto.precio_oferta}}
          </div>
          <span class="badge bg-primary rounded-pill"><a href="{% url 'productos:ver_productos' carrito.producto.id %}"><img src="{{ carrito.producto.imagen.url }}"  class="rounded-circle" alt="foto del Producto" width="50" height="50" ></a> Cantidad: {{carrito.cantidad}}</span>
        </li>
      </ol>
    </div>
    <div class="col-md-4 me-auto">
      <div class="list-group-item d-flex justify-content-between align-items-start">
        <h5 class="card-title">¿Modificar la cantidad del producto?:</h5>
        <form method="POST" action="{% url 'productos:editar_carrito' carrito.id %}" enctype="multipart/form-data">
          {% csrf_token %}             
            <span class="badge bg-primary rounded-pill md-2 center form-control ">{{ form_carrito.cantidad}}</span>
            <button type="submit" class="btn btn-primary md-2">modificar carrito<span class="fas fa-shopping-cart"></button></span>
        </form>
      </div>
    </div>
    <div class="col-md-2">
      <a href="{% url 'productos:borrar_carrito' carrito.id %}" class="btn btn-primary">Borrar Producto del carrito</a>
    </div>
  </div>
    <hr> 
    {% endif %}
{% endfor %}
<div class="col-4">
   <div  class="list-group-item list-group-item-action active" aria-current="true">
    <h2>total general: ${{total}}</h2> 
    </div>
</div>
{% endblock %}
               
                