{% load inlinecss %}
{% inlinecss 'css/estilos.css' %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Hola {{mail}}, gracias por comunicarse con Mr Bots All Software</h1>
	<p class="parrafo"> 
		Ahora que nos has encontrado podras descubrir todos los productos imprensindibles sobre tecnologias.
	</p>
	<p class="parrafo"> En este caso has seleccionado preguntar por:</P>
	<p class="parrafo">{{contenido}}, en breve le brindaremos informacion</p>
	<br><hr>
	<hr>
	<br>
	<h3>En Mr Bots All Software contamos con: </h3>
	<p>Con un equipo de especialistas en tecnología altamente capacitados a bordo, trabajamos junto a vos para explorar, impulsar y potenciar tu proyecto.</p><br>
    <p>Nos motiva una gran misión: ayudarte a convertir en realidad tus sueños creando experiencias digitales de alta calidad que le aporten un valor agregado a tu empresa y que tengan un impacto significativo en su entorno.</p> 

	<p> Excelencia en el diseño y desarrollo de software para construir el futuro.,</p>https://hidden-sea-56387.herokuapp.com/
</body>
</html>
{% endinlinecss %}