{% extends 'base.html' %}

  {% block contenido %}
  <!---seleccion de categorias--->
  <div class="container">
     	<h2>Productos</h2>
    {% if categoria_seleccionada %}
        <div class="alert alert-info" role="alert">{{ categoria_seleccionada }}</div>
    {% else %}
        <div class="alert alert-info" role="alert">Todos los Productos</div>
    {% endif %}
   <!---lista de productos en card--->
    <div class="row  row-col-md-3">
	  {% include 'productos/cuadriculaproductos.html' with lista_productos=page_obj %}
	</div>
	<!---paginate--->
	<nav aria-label="Page navigation example">
	  {% if page_obj.has_next or page_obj.has_previous %}
	    <ul class="pagination">
	    {% if page_obj.has_previous %}
		    <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
			  <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
			  <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/></svg>Anterior</a>
			</li>
		{% endif %}
		{% for page in page_obj.paginator.page_range %}
		    <li class=" page-item {% if page_obj.number == page %}active{% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a>
		    </li>
		{% endfor %}
		{% if page_obj.has_next %}
		    <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Siguiente<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
		      <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
		      <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/></svg></a>
		    </li>
		{% endif %}
		</ul>
	  {% endif %}
	</nav>
</div>
	<br><br><br><br>

	<!---lista de productos--->
	  <div class="row">	
	  <div class="col-md-12">
	  	{% include 'productos/listaProductos.html' with lista_productos=lista_productos%}
	  </div>		
	  </div>
	  
  {% endblock %}