{% load static %}
{% load cloudinary%}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categorias
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li> {% for categoria in lista_categorias %}
                      <a class="dropdown-item" href="{% url 'productos:filtro_categoria' categoria.id%}">{{ categoria }}</a>
                  {% endfor %}
                </li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'acercade' %}">Acerca de...</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos:contacto' %}">Contacto</a>
          </li>
          {% if perms.sitio.add_producto %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos:crear_producto' %}" tabindex="-1" aria="true">Nuevo Producto</a>
          </li>
          {% endif %}
        </ul>
        {% include 'productos/search_form.html' %}
      </div>
    </div>
  </nav>