 {% load static %}
 {% load cloudinary%}
    {% if request.user.is_authenticated %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/logo2.5.png' %}" class="rounded mx-auto d-block" width="90" height="90" alt="Logo Mr Bots"></a><a class="navbar-brand" href="{% url 'index' %}"> Mr Bots</a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">logout <span class="fas fa-user"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos:carrito' %}">Carrito <span class="fas fa-shopping-cart"></span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% else %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/logo2.5.png' %}" class="rounded mx-auto d-block" width="90" height="90" alt="Logo Mr Bots"></a>Mr Bots
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login <span class="fas fa-user"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'usuarios:registrarse' %}">Registro <span class="fas fa-user-plus"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'productos:carrito' %}">Carrito <span class="fas fa-shopping-cart"></span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% endif %}